[credential]
	helper = cache
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	tags = tag -l
	branches = branch -a
	remotes = remote -v
[color]
	ui = auto
[push]
	default = simple
